{% extends 'base.html' %}
{% block content %}
<div class="card p-4 col-md-6 mx-auto">
    <h3>Yangi kategoriya yaratish</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" class="form-control mb-3" placeholder="Kategoriya nomi" required>
        <select name="parent" class="form-select mb-3">
            <option value="">Ota kategoriya (Yo'q)</option>
            {% for c in categories %}<option value="{{ c.id }}">{{ c.name }}</option>{% endfor %}
        </select>
        <button type="submit" class="btn btn-primary w-100">Saqlash</button>
    </form>
</div>
{% endblock %}